In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep =";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [4]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [5]:
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [6]:
#vendo se é um valor único
df.codigo_ocorrencia.is_unique

True

In [7]:
df.set_index('codigo_ocorrencia', inplace=True)

In [8]:
#df.head(10)

In [9]:
#ocorrencia de todos de SP
df.loc[df.ocorrencia_uf=='SP', ['ocorrencia_classificacao']]

                  ocorrencia_classificacao
codigo_ocorrencia
40069                             ACIDENTE
39809                            INCIDENTE
39828                            INCIDENTE
39847                            INCIDENTE
39768                            INCIDENTE
...                                    ...
79739                      INCIDENTE GRAVE
79705                      INCIDENTE GRAVE
79718                      INCIDENTE GRAVE
79800                            INCIDENTE
79804                            INCIDENTE

[1373 rows x 1 columns]

In [10]:
# Resetar indice:
#df.reset_index(drop=True, inplace=True)

In [11]:
# Alterando valores de uma celula da linha
#df.loc[0,'ocorrencia_aerodromo'] = ''

In [12]:
#alterando uma linha só
#df.loc(1)

In [ ]:
#usando filtros -> Alterando a classificação de todos de SP para grave

df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']=='GRAVE']

correncia_aerodromo

###!
####
***
****

ocorrencia_uf
**

Ocorrencia_hora
NULL

In [13]:
df.loc[df.ocorrencia_aerodromo=='****',['ocorrencia_aerodromo']] =pd.NA

In [15]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [16]:
df.replace(['**','###!', '####', '***', '****', 'NULL'], pd.NA, inplace=True)

In [18]:
df.head(20)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
39807,39807,INCIDENTE,SALVADOR,BA,<NA>,2010-01-06,17:53:00,0
40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,0
39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,<NA>,2010-01-10,21:30:00,0
40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0
39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,<NA>,2010-01-11,17:00:00,2
40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0
39315,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
39809,39809,INCIDENTE,SÃO PAULO,SP,<NA>,2010-01-15,15:00:00,0
39810,39810,INCIDENTE,SALVADOR,BA,<NA>,2010-01-15,18:23:00,0
39828,39828,INCIDENTE,SANTOS,SP,<NA>,2010-01-15,17:45:00,0
44575,44575,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-17,12:27:00,0

In [20]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2199
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [21]:
# criando uma nova coluna
#df['total_recomendacoes_bk'] = df.total_recomendacoes