In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep =";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [4]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [5]:
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [6]:
#vendo se é um valor único
df.codigo_ocorrencia.is_unique

True

In [7]:
df.set_index('codigo_ocorrencia', inplace=True)

In [8]:
#df.head(10)

In [9]:
#ocorrencia de todos de SP
df.loc[df.ocorrencia_uf=='SP', ['ocorrencia_classificacao']]

                  ocorrencia_classificacao
codigo_ocorrencia
40069                             ACIDENTE
39809                            INCIDENTE
39828                            INCIDENTE
39847                            INCIDENTE
39768                            INCIDENTE
...                                    ...
79739                      INCIDENTE GRAVE
79705                      INCIDENTE GRAVE
79718                      INCIDENTE GRAVE
79800                            INCIDENTE
79804                            INCIDENTE

[1373 rows x 1 columns]

In [10]:
# Resetar indice:
#df.reset_index(drop=True, inplace=True)

In [11]:
# Alterando valores de uma celula da linha
#df.loc[0,'ocorrencia_aerodromo'] = ''

In [12]:
#alterando uma linha só
#df.loc(1)

In [ ]:
#usando filtros -> Alterando a classificação de todos de SP para grave

df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']=='GRAVE']

correncia_aerodromo

###!
####
***
****

ocorrencia_uf
**

Ocorrencia_hora
NULL